---
layout: default
users:
- davelandry
- alexandersimoes
style: blog
---

<style>

  div#content {
    text-align: center;
  }

  section#logo {
    display: block;
    margin: 70px auto;
    padding: 0px;
    text-align: center;
    width: 800px;
  }

  section#logo img {
    display: inline-block;
    vertical-align: top;
  }

  section#logo div {
    color: #888;
    display: inline-block;
    font-size: 50px;
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    line-height: 50px;
    padding: 50px 25px;
    text-align: left;
    width: 350px;
  }

  section {
    margin: 75px 3% 0px;
    text-align: left;
    width: 94%;
  }

  section#examples, section#posts {
    display: inline-block;
    margin: 75px 2% 0px;
    vertical-align: top;
  }

  section#examples {
    text-align: center;
    width: 53%;
  }

  section#posts {
    width: 37%;
  }

  section#examples > h1, section#examples > a {
    text-align: left;
  }

  section#links {
    text-align: center;
  }

  section#links a {
    display: inline-block;
    font-size: 12px;
    margin: 0px;
    width: 100px;
  }

  section#links a i {
    display: block;
    font-size: 50px;
  }

  section#links a span {
    display: inline-block;
  }

  a.example {
    margin: 10px 10px 25px 10px !important;
  }

  .post {
    padding: 10px 0px;
  }

  .post-title > a {
    font-size: 14px;
  }

  .post-snippet > p {
    font-size: 12px;
  }

</style>


<section id="logo">
  <img src="{{ site.url }}/assets/img/d3plus-icon.png">
  <div>Data visualization made easy.</div>
</section>

<section id="links">
  <a href="https://github.com/alexandersimoes/d3plus/">
    <i class="fa fa-github"></i>
    View Source
  </a>
  <a href="https://github.com/alexandersimoes/d3plus/wiki">
    <i class="fa fa-book"></i>
    Documentation
  </a>
  <a href="https://github.com/alexandersimoes/d3plus/issues?state=open">
    <i class="fa fa-exclamation-circle"></i>
    Issues<span id="issues"></span>
  </a>
  <a href="https://groups.google.com/forum/#!forum/d3plus">
    <i class="fa fa-comments-o"></i>
    Google Group
  </a>
  <a href="https://github.com/alexandersimoes/d3plus/stargazers">
    <i class="fa fa-eye"></i>
    Watchers<span id="watchers"></span>
  </a>
  <a href="https://github.com/alexandersimoes/d3plus/network/members">
    <i class="fa fa-code-fork"></i>
    Forks<span id="forks"></span>
  </a>
  <a href="https://github.com/alexandersimoes/d3plus/stargazers">
    <i class="fa fa-star"></i>
    Stargazers<span id="stars"></span>
  </a>
</section>

<section class="half" id="examples">

    <h1>Recent Examples</h1>

    <a class="moreButton" href="/examples/">
      All Examples <i class="fa fa-angle-right"></i>
    </a>

</section>

{% include examples.html container="section#examples" limit=9 %}

<section class="half" id="posts">

    <h1>Blog Posts</h1>

    <a class="moreButton" href="/blog/" target="_blank">
      All Posts <i class="fa fa-angle-right"></i>
    </a>

    {% for post in site.posts %}
      <div class="post">
        <h3 class="post-title">
          <a href="{{ post.url }}" title="{{ post.title }}" data-action="open-post" >{{ post.title }}</a>
        </h3>
        <a class="post-snippet" href="{{ post.url }}">
          <p>{{ post.content | strip_html | truncatewords:50}}</p>
        </a>
        <div class="post-meta">
          <span>
            <a href="" class="avatar" title="Go to the profile of ">
              <img src="{{ site.url }}/assets/img/people/{{ post.author|lower }}.gif" class="avatar-image">
              <span class="avatar-span">{{ post.author|capitalize }}</span>
            </a>
          </span>
          <span class="post-date">{{ post.date | date_to_string }}</span>
        </div>
      </div>
    {% endfor %}

</section>
