---
layout: default
title: Examples
style: blog
---

<div id="example-intro">
  <div class="page-header">
    <h1 class="post-title">Live Code Examples<h1>
  </div>
  <p class="post-snippit">One of the best ways to learn what D3plus can do is by viewing live code samples. If you there are any features you would like clarification on, or you're not sure how to do something, please either post a code snippet in the <a href="https://gitter.im/d3plus/">Gitter Channel</a> or contact us through our <a href="https://github.com/alexandersimoes/d3plus/issues">Github Issues Page</a>.</p>
  <p>
    These examples are for the new d3plus 2.0. <a href="https://bl.ocks.org/davelandry" target="_blank">Click here</a> to view the 1.0 examples.
  </p>
  <p>
  <input id="example-search" type="text" placeholder="Search" />
  </p>
</div>

<div id="examples">
  {% assign examples = site.examples | sort: "time" | reverse %}
  {% for example in examples %}
  {% include example-tile.html example=example %}
  {% endfor %}
</div>

<script>

  var width = 0, height = 0;

  d3.select("input").on("keyup", function() {

    var q = this.value.toLowerCase();

    d3.selectAll("div.exampleWrapper")
      .classed("hidden", function() {
        return q.length ? d3.select(this).attr("data-content").toLowerCase().indexOf(q) < 0 : false;
      });

  })

</script>
