---
layout: default
style: blog
---

{% if page.title or page.subtitle or site.description %}
  {% assign header_page_html = null %}
  {% capture header_page_html %}
    <div class="page-header">
      {% if page.title %}
        <h1 class="post-title">{{ page.title }}</h1>
      {% elsif site.description %}
        <h1 class="post-title">{{ site.description }}</h1>
      {% endif %}

      {% if page.subtitle %}
        <h3 class="post-snippet">{{ page.subtitle }}</h3>
      {% endif %}
      
      {% if page.author %}
        <div class="post-meta">
          <span>
            {% if page.author_url %}
            <a href="{{ page.author_url }}" class="avatar" title="Go to the profile of " target="_blank">
              <img src="{{ site.url }}/assets/img/people/{{ page.author|lower }}.gif" class="avatar-image">
              <span class="avatar-span">{{ page.author|capitalize }}</span>
            </a>
            {% else %}
            <img src="{{ site.url }}/assets/img/people/{{ page.author|lower }}.gif" class="avatar-image">
            <span class="avatar-span">{{ page.author|capitalize }}</span>
            {% endif %}
          </span>
          <span class="post-date">{{ page.date | date_to_string }}</span>
        </div>
      {% endif %}
    </div>
  {% endcapture %}
  
  {{ header_page_html | strip_newlines | remove:'	' }}
{% endif %}

<div class="post-content">
  {{ content }}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'd3plus'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>